.contenedor {
    height: 50px;
    width: 100%;
    background-color: $secondary_color;
    display: flex;

    ul {
        list-style: none;
        display: flex;

        li {
            margin-left: 10px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}