@use "sass:math";

@import "variables";
@import "contenedor";
@import "mixins";

.titulo {
    color: #24a0ed;
}

.boton {
    background-color: #24a0ed;
    @include font-f2;
    height: px2rem(96);
    color: darken($primary_color, 60%);
}

@function px2rem($px){
    @return math.div($px, 16) * 1rem;
}