 @media (min-width: 600px) {
     html {
         font-size: 100%;
     }
 }

 video {
     width: 30rem;
 }

 .contenedor {
     height: 600px;
     width: 70%;
     background-color: yellow;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     /* -------------------------- alineacion horizontal ------------------------- */
     /* justify-content: flex-start; */
     justify-content: space-around;
     /* --------------------------- alineacion vertical -------------------------- */
     align-items: flex-end;
 }

 .hijo {
     width: 250px;
     margin: 25px;
 }

 .hijo1 {
     height: 250px;
     background-color: red;
     order: 2;
     font-size: 2rem;
     color: white;
     text-align: center;
 }

 .hijo2 {
     height: 150px;
     background-color: green;
     order: 3;
     font-size: 2rem;
     color: white;
     text-align: center;
 }

 .hijo3 {
     height: 200px;
     background-color: blue;
     order: 1;
     font-size: 2rem;
     color: white;
     text-align: center;
 }

 .hijo4 {
     height: 200px;
     background-color: blueviolet;
 }